:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: block;
}

a {
  font-weight: 500;
  color: #1e3c72;
  text-decoration: none;
}
a:hover {
  color: #2a5298;
}
